body {
    margin: 0;
    overflow: hidden;
    background-color: #faffbe; /* Sulphur Yellow */
    font-family: 'Arial', sans-serif;
    color: black;
    transition: background-color 0.3s ease; /* Add a smooth transition to background color changes */
}

.container {
    position: absolute;
    top: 10%; /* Adjust the top space */
    bottom: 10%; /* Adjust the bottom space */
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable vertical scrolling for the container */
}

header, footer, article {
    width: 100%; /* Ensure full width within the container */
}

header, footer {
    padding: 10px; /* Adjust padding as needed */
    text-align: left;
}

article {
    text-align: left; /* Align text to the left within the article */
    margin-bottom: 20px; /* Add spacing between articles */
    line-height: 1.5; /* Adjust line height as needed */
}

header {
    border-bottom: 1px solid #ccc; /* Add a border between header and articles, and between articles and footer */
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
    border-top: 1px solid #ccc;
}

a {
    display: inline-block;
    color: #007bff; /* Change link text color */
    transition: color 0.3s ease; /* Add a smooth transition to link text color changes */
}

a:hover {
    color: #056d00; /* Change link text color on hover */
}

